<html>
<head>
    <title>Clubs</title>
</head>
<body>
    <h1>Applications</h1>
    <table class="table">
        {% for user in users %}
        <tr>
            <td>Username: {{ user.username }}</td>
        </tr>
        <tr>
            <td>Email: {{ user.email }}</td>
        </tr>
        <tr>
            <td>Full name: {{ user.first_name }} {{ user.last_name }} </td>
        </tr>
        <tr>
            <td>Bio: {{ user.bio }}</td>
        </tr>
        <tr>
            <td>Statement: {{ user.statement }}</td>
        </tr>
        <tr>
            <td>Chess experience: {{ user.chess_xp }}</td>
        </tr>
        <tr>
            <td><a href="{% url 'approve_application' user.id %}">Approve application</a></td>
        </tr>  
        
        {% endfor %}
    </table>
</body>
</html>