{% extends 'FormsBase.html' %}
{% block body %}
<div class="wrapper">
  <h2>Change Password</h2>
    <form action="{% url 'change_password' %}" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="input-box">
          {{ field }}
        </div>
      {% endfor %}
      <div class="input-box button">
        <input type="submit" value="Update">
      </div>
      <div class="text">
        <a href="{%url 'club_list' %}">Go back</a>
    </div>
  </form>
</div>
{% endblock %}
