{% extends "base_content.html" %}
{% block content %}
<div id = "cover-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-md-2 offset-lg-4">
          <h1 class="cover-heading">{{club.name}}'s Profile</h1>
                <p>Here you can view {{club.name}}'s Profile!</p>
                <p>Description: {{club.description}}</p>
                <p>Created: {{club.created_at}}</p>
                <p>Number of members: {{memberSize}}</p>

                <p>Owner: {{owner.user.full_name}}</p>
                <p><img src="{{ owner.user.mini_gravatar }}" alt="Gravatar of {{ owner.user.full_name }}" class="rounded-circle profile-image" ></p>
                <p>Bio: {{owner.user.bio}}</p>
                <p><a href = '{%url 'home' %}'>Home!</a></p>
              {% csrf_token%}
              <p>
                <a href='{% url 'club_application' club.id %}' class="btn btn-lg btn-secondary"> <!--Need a way of applying to a club-->
              Apply!
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
