{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5 border border-primary rounded-3">
      <div class="profile-sidebar">
        <div class="user-gravatar">
          <img src="{{ user.gravatar }}" alt=" Gravatar of {{ user.full_name }}" class="rounded-circle profile-image">
          <div class="user-info m-3">
            <div class="user-name">
              <div class="border">
                {{ user.full_name }}
              </div>
            </div>
            <div class="border">
              <div class="username">
                {{ user.username }}
              </div>
            </div>
            <div class="border">
              <div class="user-level">
                Chess xp: {{ user.chess_xp }}
              </div>
            </div>
            <div class="border">
              <div class="user-bio">
                Bio: {{ user.bio }}
              </div>
            </div>
            <div class="border">
              <div class="user-statement">
                Statment: {{ user.statement }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
