{% extends 'base.html' %}
{% block body %}
<div id = "cover-image">
  <div class="container vh-100">
    <div class="row h-100 ">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-md-3 offset-lg-4">
          <h5>My Clubs</h5>
          <ul class="nav nav-tabs" id="clubTabs" role="tablist">
        {% for club in clubs %}
          <li class="nav-item">
            {% if forloop.counter == 1 %}
            <button class="nav-link active" id="{{club.name}}Tab" href="#{{club.name}}" data-bs-toggle="tab" data-bs-target="#{{club.name}}" type="button" role="tab" aria-controls="{{club.name}}" aria-selected="false">{{club.name}}</button>
          {% else %}
            <button class="nav-link" id="{{club.name}}Tab" href="#{{club.name}}" data-bs-toggle="tab" data-bs-target="#{{club.name}}" type="button" role="tab" aria-controls="{{club.name}}" aria-selected="false">{{club.name}}</button>
          {% endif %}
            </li>
        {% endfor %}
      </ul>

        <div class="tab-content">
          {% for club in clubs %}
          {% if forloop.counter == 1 %}
           <div class="tab-pane fade show active" id="{{club.name}}" role="tabpanel" aria-labelledby="{{club.name}}Tab">
          {% else %}
             <div class="tab-pane fade" id="{{club.name}}" role="tabpanel" aria-labelledby="{{club.name}}Tab">
          {% endif %}
            <p>Description: {{club.description}}</p>
            <p>Location: {{club.location}}</p>
            <p>Established: {{club.created_at}}</p>
            {%for key, value in owners.items%}
            {% if key == club %}
            <p>Owner: <img src="{{ value.user.mini_gravatar }}" class="rounded-circle profile-image" > {{value.user.full_name}}</p>
            {% endif %}
            {% endfor %}
            <a href='{% url 'club_home' club.name %}' class="btn btn-sm btn-secondary">
              View club
            </a>
          </div>
          {% endfor %}
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
