{% extends "base_content.html" %}
{% block content %}
<div id = "cover-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-md-2 offset-lg-4">
          <h1 class="cover-heading">My clubs</h1>
          <ul>
            {%for club in clubs%}
            <div class = "card cover-card"
            <li> {{club.name}} - {{club.created_at}}<br/>
            {{club.description}}<br/>
            <a href='{% url 'club_home' club.name %}' class="btn btn-lg btn-secondary">
              View club
            </a>
            </div>
            {% endfor %}
          </ul>
          {% csrf_token%}
          <p>
            <a href='{% url 'club_list' %}' class="btn btn-md btn-secondary">
              Apply for a club
            </a>
            <p>
            <a href='{% url 'create_club' %}' class="btn btn-md btn-secondary">
              Create your own club
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
