<html>
  <head>
    {% load static %}
    <title>Change Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sign_up-log_in.css' %}">
   </head>
  <body>
    <div class="wrapper">
      <h2>Change Password</h2>
        <form action="{% url 'password' %}" method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="input-box">
              {{ field }}
            </div>
          {% endfor %}
          <div class="input-box button">
            <input type="submit" value="Update">
          </div>
          <div class="text">
            <a href="{%url 'club_list' %}">Go back</a>
        </div>
      </form>
    </div>
  </body>
</html>