{% extends 'base.html' %}
{% block body %}
<div id = "cover-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-md-2 offset-lg-4">
          <h1 class="cover-heading">Members List</h1>         
            <div class = "card cover-card">
            <ul style="list-style-type:none;">
              {%for user in users%}
                <li><img src="{{ user.user.mini_gravatar }}" alt="Gravatar of {{ user.user.full_name }}" class="rounded-circle profile-image" > {{user.user.full_name}}</li>
                <li>Bio: {{user.user.bio}}</li>
                {% if currentClub.is_officer%}
                <li>Username: {{user.user.username}}</li>
                <li> Chess xp: {{user.user.chess_xp}}</li>
                <li>Statement: {{user.user.statement}}</li>
                {% endif %}
                {% endfor %}
                </ul>
              </div>         
          {% csrf_token%}
          <p><br/>
            <a href='{% url 'home' %}' class="btn btn-lg btn-secondary">
              Home Page
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
